@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */

body {
  padding: 2%;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

ul.horizontal-list {
  padding: 0px;
  list-style: none;
  li {
    display: inline !important;
  }
}
